.git
.env
node_modules
dist
*.log
docx-worker/venv
docx-worker/.venv
docx-worker/__pycache__
docx-worker/*.pyc
pdf-worker/venv
pdf-worker/.venv
pdf-worker/**/__pycache__
pptx-worker/**/__pycache__
**/*.pyc
